* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.42;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

h1, h2, h3 {
    margin: 0;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

.contain {
    max-width: 865px;
    padding: 0px 5px;
    margin: 0 auto;
}

.header__contain {
    max-width: 1032px;
}

.nav__list {
    font-size: 20px;
    line-height: 1.5;
    display: flex;
    justify-content: end;
}

.nav__link {
    padding: 0px 12px;
}

.main {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.beg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.beg__button {
    width: 200px;
    position: relative;
    background-color: #FF6464;
    color: white;
    border-radius: 3px;
    border: none;
    padding: 10px;
    letter-spacing: 0.3px;
    font-size: 20px;
    margin-bottom: 10px;
}

.beg__pic {
    display: flex;
    width: 243px;
    height: 243px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    align-items: center;
    right: 0;
}

.beg__img {
    padding: 0px 0px 100px 0px;
    height: 500px;
    width: 100%;
    align-items: center;
    display: block;
    margin: auto;
}