* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.body {
    font-family: 'Exo 2', sans-serif;
    font-size: 16px;
    line-height: 1.42;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

h1, h2, h3 {
    margin: 0;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    font-family: 'Exo 2', sans-serif;
}

.contain {
    max-width: 865px;
    padding: 0px 5px;
    margin: 0 auto;
}

.header {
    padding-top: 30px;
    padding-bottom: 158px;
}

.header__contain {
    max-width: 1032px;
    display: flex;
    justify-content: flex-end;
}

.nav__list {
    display: flex;
    font-size: 20px;
    line-height: 1.5;
}

.nav__link {
    margin-left: 33px;
    font-weight: bold
}

.header__bur {
    width: 30px;
    height: 20px;
    align-items: center;
    display: none;
}

.header__bur-el {
    height: 2px;
    width: 100%;
    background-color: #21243D;
    position: relative;
}

.header__bur-el::before,
.header__bur-el::after {
    content: "";
    height: 2px;
    width: 100%;
    background-color: #21243D;
    position: absolute;
}

.header__bur-el::before {
    top: -9px;
}

.header__bur-el::after {
    bottom: -9px;
}

@media (max-width: 480px) {
    .header {
        padding-top: 20px;
        padding-bottom: 12px;
    }
    .nav {
        display: none;
    }
    .header__bur {
        display: flex;
    }
}

.main {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.beg {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 71px;
}

.beg__contain {
    display: flex;
}

.beg__info {
    padding-right: 12.3%;
}

.beg__hello {
    margin-bottom: 40px;
}

.beg__nn {
    font-size: 18px;
    margin-bottom: 38px;
}

.beg__button {
    position: relative;
    background-color: #FF6464;
    color: white;
    border-radius: 3px;
    border: none;
    padding: 17px 20px;
    letter-spacing: 0.3px;
    font-size: 20px;
}

.beg__pic {
    width: 243px;
    height: 243px;
    border-radius: 50%;
    overflow: hidden;    
    display: flex;
    flex-shrink: 0;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}

.beg__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@media (max-width: 480px) {
    .beg__contain {
        flex-direction: column-reverse;
        align-items: center;
    }

    .beg__hello {
        line-height: 1.25;
    }

    .beg__info {
        padding-right: 0;
        text-align: center;
        padding-right: 18px;
        padding-left: 18px;
    }   
    .beg__pic {
        width: 170px;
        height: 170px;
    }
}



.rec {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EDF7FA;
    padding: 27px 0px 32px;
}

.rec__contain {
    display: flex;
    flex-direction: column;
    
}

.rec__top {
    margin-bottom: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rec__title {
    font-size: 22px;
}

.rec__link {
    font-size: 16px;
    color: #00A8CC;
}

.rec__arts {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.rec__art {
    border-radius: 5px;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    padding: 24px 23px 31px 21px;
}

.rec__subtitle {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 17px;
}

.rec__info {
    font-size: 18px;
    margin-bottom: 11px;
}

.rec__sep {
    padding: 0px 25px 0px 25px;
}

.rec__art:last-child {
    margin: 0;
}

@media (max-width: 480px) {
    .rec {
        padding-right: 5px;
        padding-left: 5px;
    }

    .rec__top {
        margin-bottom: 19px;
        justify-content: center;
    }

    .rec__link {
        display: none;
    }

    .rec__arts {
        flex-direction: column;
    }

    .rec__art {
        margin-right: 0px;
        padding: 12px 20px 22px;
        margin-bottom: 20px;
    }
}

.feat {
    padding-bottom: 83px;
    color: #21243D;
}

.feat__contain {
    display: flex;
    flex-direction: column;
}

.feat__top {
    display: flex;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 45px;
    font-size: 22px;
}

.work {
    display: flex;
    border-bottom: 1px solid #E0E0E0;
    padding-top: 35px;
    padding-bottom: 35px;
}

.work__pic {
    width: 246px;
    height: 180px;
    border-radius: 6px;
    margin-right: 18px;
    flex-shrink: 0;
    overflow: hidden;
}

.work__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.work__title {
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 30px;
}

.work__subtitle {
    display: flex;
    padding-bottom: 25px;
}

.work__date {
    min-width: 62px;
    min-height: 25px;
    background: #142850;
    border-radius: 16px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    justify-content: center;
}

.work__cat {
    padding-left: 26px;
    color: #8695A4;
    font-size: 20px;
}

@media (max-width: 480px) {
    .feat__work {
        display: flex;
        width: 100%;
        overflow-x: auto;
        padding-top: 25px;
        margin-bottom: 100px;
    }

    .work {
        width: 100%;
        flex-direction: column;
        flex-shrink: 0;
        padding: 20px 13px;
    }
    
    .work__pic {
        width: 100%;
        height: 230px;
    }
}

.work__text {
    font-size: 16px;
}

.foot {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 51px;
    padding-bottom: 60px;
}

.foot__list {
    display: flex;
    margin-bottom: 26px;
    justify-content: center;
}

.foot__item {
    width: 30px;
    height: 30px;
    margin-right: 35px;

}

.foot__item:last-child {
    margin: 0px;
}

.foot__link {
    background-size: contain;
    width: 100%;
    height: 100%;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
}

.face {
    background-image: url('../img/fb.png');
}

.inst {
    background-image: url('../img/insta.png');
}

.twit {
    background-image: url('../img/Group.png');
}

.in {
    background-image: url('../img/Linkedin.png');
}

.foot__text {
    font-size: 14px;
    color:#21243D;
}

.blog {
    display: flex;
    color: #21243D;

}

.blog__contain {
    display: flex;
    flex-direction: column;
}

.blog__top {
    padding-top: 117px;
}

.blog__title-top {
    font-style: Bold;
    font-size: 44px;
}

.blog__arts {
    display: flex;
    padding-top: 67px;
    justify-content: center;
    flex-direction: column;
    border-bottom: 1px solid #E0E0E0;
}

.blog__title {
    font-weight: medium;
    font-size: 30px;
    margin-bottom: 20px;
}

.blog__subtitle {
    margin-bottom: 26px;
    font-style: normal;
    font-size: 20px;
}

.blog__sep {
    padding: 0px 20px;
}

.blog__text {
    font-style: normal;
    font-size: 16px;
    margin-bottom: 29px;
}