* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.body {
    font-family: 'Exo 2', sans-serif;
    font-size: 16px;
    line-height: 1.42;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

h1, h2, h3 {
    margin: 0;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    font-family: 'Exo 2', sans-serif;
}

.contain {
    max-width: 865px;
    padding: 0px 5px;
    margin: 0 auto;
}

.header {
    padding-top: 30px;
    padding-bottom: 30px;
}

.header__contain {
    max-width: 1032px;
    display: flex;
    justify-content: flex-end;
}

.nav__list {
    display: flex;
    font-size: 20px;
    line-height: 1.5;
}

.nav__link {
    margin-left: 33px;
    font-weight: bold
}

.main {
    display: flex;
    justify-content: center;
}

.beg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.beg__contain {
    display: flex;
}

.beg__hello {
    margin-bottom: 40px;
}

.beg__nn {
    font-size: 18px;
    margin-bottom: 38px;
}

.beg__button {
    position: relative;
    background-color: #FF6464;
    color: white;
    border-radius: 3px;
    border: none;
    padding: 17px 20px;
    letter-spacing: 0.3px;
    font-size: 20px;
}

.beg__pic {
    width: 243px;
    height: 243px;
    border-radius: 50%;
    overflow: hidden;    
    display: flex;
    flex-shrink: 0;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}

.beg__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}